

 .cardTitle {
   text-align: center;
}

.titleImg {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 200px;
  opacity: 0.3;
}

.avatarImg {
  max-width: 60%;
  max-height: 60%;
  opacity:1.0;
  margin: 0;
  justify-content: right;
}

.story-img-bottom {
  width: 400px;
  height: 400px;
}

.card-timer-text {
  text-align: right;
  font-size: 80%;
}

.cardstory {
  padding-left: 150px;
}

.sharedStorySubmissionImage {
  padding-left: 100px
}