.shareButton {
  background-color: rgba(54, 4, 97, 0.397);
}
 
   .card-texts {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.storyBannerImg {
  height: 50%;
  opacity: .6;
}

.storyBannerText {
  padding-top: 220px;
}

.describingText {
  color: primary
}